.container {
  width: 60%;
  height: 30rem;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.maincontainer {
  margin-top: 5vh;
  width: 50vw;
  height: auto;
  margin-left: auto;
}
.notbutn {
  color: orangered;
}
.notbutn:hover {
  font-weight: bolder;
  color: orangered;
}
.numorders {
  text-align: center;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50px;
  top: 4px;
  right: 4px;
  position: absolute;
}
.num {
  width: 10px;
  height: 10px;
  font-size: 12px;
  background-color: transparent;
  color: white;
  padding: 0px;
  margin-left: 5px;
  margin-top: 1px;
}
.iconstick {
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 15px;
  top: 20%;
  position: sticky;
  left: 2vw;
  text-align: center;
  padding-top: 25px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 800;
  color: orangered;
}

.dishesAvailable {
  font-family: "Pacifico", cursive;
  color: orangered;
}

.cardContainer {
  width: 230px;
  height: 250px;
  padding-bottom: 15px;
}

hr {
  width: 60%;
}
