@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    justify-content: center;
    align-items: center;
  }
  
  .footer > * {
    flex: 1 100%;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer-logo {
    font-family: 'Pacifico', sans-serif;
    color: orangered;
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  .footer-addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav-title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }

  .footer-btn:hover {
    color: white;
    transition: 0.5s;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  p, span, address, h2, .footer a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer-nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav-ul a {
    color: #999;
  }

  .nav-ul a:hover, .nav-ul a:hover .fa-brands {
    color: orangered;
    background-color: white;
  }
  
  .nav-ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal-links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal-links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer-nav > * {
      flex: 1;
    }
    
    .nav-item--extra {
      flex-grow: 2;
    }
    
    .footer-addr {
      flex: 1 0px;
    }
    
    .footer-nav {
      flex: 2 0px;
    }
  }
