body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
div {
  display: block;
}
* {
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.topbackground {
  width: 100vw;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: orangered;
  margin-bottom: 15px;
  border: 4px solid rgb(226, 60, 0);
}
.leftdiv {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  margin-left:30vw;
}
.welcometext {
  font-size: 64px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: -0.02ch;
  color: white;
  text-align: center;
  display: block;
}

.descriptiontop {
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.05ch;
  color: white;
  text-align: center;
  display: block;
}

.servegoal {
  font-size: 40px;
  font-weight: 600;
  color:rgb(158, 158, 158);
  line-height: 80px;
  text-decoration: none; 
  position: relative; 
}
 

.servegoal:after {
   position: absolute;
   content: '';
   height: 2px;
   bottom: -4px; 
   margin: 0 auto;
   left: 0;
    width: 30%;
    background: #999;
  -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition:.7s;
}

.servegoal:hover:after {
 width: 100%;
 background: orangered;
}


.maincol {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rowcontainer {
  width: 70%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: row nowrap;
  padding-bottom: 60px;
}
.textcontainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.titleout {
  display: block;
}
.titlein {
  font-size: 24px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.04ch;
  color: rgb(148, 148, 148);
  display: block;
}

.paraout {
  display: block;
}
.parain {
  font-size: 14px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  color: rgb(184, 184, 184);
  display: block;
}
.Alinks {
  box-sizing: border-box;
}

.dish {
  height: 200px;
  width: 300px;
  margin-left: 30px;
  margin-top: 35px;
  border-radius: 10px;
  display: block;
  transition: 0.5s;
  margin-right: 0px;
}

.dish2 {
  height: 200px;
  width: 300px;
  margin-left: 0px;
  margin-right: 40px;
  margin-top: 35px;
  border-radius: 10px;
  display: block;
  transition: 0.5s;
}
.dish2:hover {
  transform: scale(1.1);
}

.links {
  max-width: 100%;
  margin: 0px;
  padding: 5px;
  display: inline-flex;
  min-height: 40px;
  width: auto;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.15s;
  text-decoration: none;
}
.spanup {
  color: orangered;
  font-size: 16px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: block;
  max-width: 100%;
}

.spanup:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dish:hover {
  transform: scale(1.1);
}

.popdish {
  transition: 1s ease-in-out;
}

.popdish:hover {
  transform: scale(1.4);
  cursor: pointer;
}

#popular {
  box-shadow: 0px 1px 35px 7px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  z-index: 99;
  background-color: white;
}
.maincol2 {
  box-sizing: border-box;
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rowcontainerpop {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: row nowrap;
  position: relative;
}
.imgpop {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dishpop {
  height: 250px;
  width: 350px;
  margin: 20px;
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
  justify-content: center;
  align-items: center;
}
.dishpop:hover {
  transform: scale(1.1);
}
.textcontainerpop {
  margin-left: 40px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.titleoutpop {
  display: block;
}
.titleinpop {
  font-size: 24px;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.03ch;
  color: rgb(148, 148, 148);
  margin: 0px;
  padding: 0px;
  display: block;
}
