body{
    width:100%;
    height: 100%;
}
div{
    display: block;
}
*{
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.topbackground{
    margin-top: 20px;
    width: 100vw;
    background-color: orangered;
    height: 500px;

}
.welcometext{
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height:200px;
    letter-spacing: -0.04ch;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
}
.maincol{
    box-sizing: border-box;
    height: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rowcontainer{
    width: 70%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: row nowrap;
}
.textcontainer{
    margin-left: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.titleout{
    display: block;
}
.titlein{
    font-size: 24px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.04ch;
    color: rgb(148, 148, 148);
    margin: 0px;
    padding: 0px;
    display: block;
}

.paraout{
    display: block;
}
.parain{
    font-size: 14px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    color: rgb(184, 184, 184);
    margin: 0px;
    padding: 0px;
    display: block;

}
.Alinks{
    box-sizing: border-box;
}

.dish{
    height: 200px;
    width: 300px;
    margin-left : 24px;
    margin-top: 35px;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.links{
    max-width: 100%;
    margin: 0px;
    padding: 5px;
    display: inline-flex;
    min-height: 40px;
    width: auto;
    justify-content: flex-end;
    cursor: pointer;
    transition: 0.15s;
    text-decoration: none;
}
.spanup{
    color: orangered;
    font-size: 16px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: block;
    max-width: 100%;
}

.spanup:hover{
    cursor: pointer;
    text-decoration: underline;
}
.imgcontainer{
    margin-right: 20px;
}
#goToTop{
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(255, 94, 0);
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
#goToTop:hover {
    background-color: rgb(232, 87, 3); 
  }

.dish:hover{
    transform:scale(1.1);

}

#popular{
    box-shadow: 0px 1px 35px 7px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
.maincol2{
    box-sizing: border-box;
    height: 100%;
    width: 85%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rowcontainerpop{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: row nowrap;
}

.dishpop{
    height: 250px;
    width: 350px;
    margin: 20px;
    border-radius: 10px;
    transition: 0.5s;
    display: block;
    transition: 0.5s;
}

.imgpop{
    margin: 20px;
    display: flex;
    justify-content: center;

}
.dishpop:hover{
        transform: scale(1.1);

}
.textcontainerpop{
    margin-left: 40px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.titleoutpop{
    display: block;

}
.titleinpop{
    font-size: 24px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.03ch;
    color: rgb(148, 148, 148);
    margin: 0px;
    padding: 0px;
    display: block;
    
}
