body{
    width:100%;
    height: 100%;
    overflow-x: hidden;
}
div{
    display: block;
}
*{
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.topbackground{
    margin-top: 30px;
    width: 100vw;
    height: 60%;
    background-color: rgb(251, 89, 30);
    position:relative;
    display: flex;
    flex-direction: column;
    
}
.welcometext{
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height:180px;
    letter-spacing: -0.02ch;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    -webkit-text-stroke: 1px rgb(208, 55, 0);
}
.offerstext{
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height:30px;
    letter-spacing: -0.04ch;
    color: rgb(255, 255, 255);
    text-align: left;
    display: block;
    margin-left: 25%;
    margin-bottom: 5px;
    margin-top: 5px;
    -webkit-text-stroke: 0.5px rgb(208, 55, 0);

}

.searchbar {
    overflow: hidden;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 15px;
    width: 30%;
    position: relative;
    box-sizing: border-box;
  }
  
  .searchbar input[type=text] {
    background-color: none;
    padding: 5px;
    border: none;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right: 16px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f3f3f3;
    outline: none;

  }
  
  @media screen and (max-width: 600px) {
    .searchbar{
        width: 50%;
    }
    .searchbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
outline: none;    }
  }

.maincol{
    box-sizing: border-box;
    height: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.rowcontainer{
    width: 70%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: row nowrap;
    padding-bottom: 60px;
    
}
.textcontainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.titleout{
    display: block;
}
.titlein{
    font-size: 24px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.04ch;
    color: rgb(148, 148, 148);
    display: block;
}

.paraout{
    display: block;
}
.parain{
    font-size: 14px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    color: rgb(184, 184, 184);
    display: block;

}
.Alinks{
    box-sizing: border-box;
}

.dish{
    height: 200px;
    width: 300px;
    margin-left : 30px;
    margin-top: 35px;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
    margin-right: 0px;
}

.dish2{
    height: 200px;
    width: 300px;
    margin-left : 0px;
    margin-right: 40px;
    margin-top: 35px;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}
.dish2:hover{
    transform: scale(1.1);
}

.links{
    max-width: 100%;
    margin: 0px;
    padding: 5px;
    display: inline-flex;
    min-height: 40px;
    width: auto;
    justify-content: flex-end;
    cursor: pointer;
    transition: 0.15s;
    text-decoration: none;
}
.spanup{
    color: orangered;
    font-size: 16px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: block;
    max-width: 100%;
}

.spanup:hover{
    cursor: pointer;
    text-decoration: underline;
}

.dish:hover{
    transform:scale(1.1);
}

#popular{
    box-shadow: 0px 1px 35px 7px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    z-index: 99;
    background-color: white;

}
.maincol2{
    box-sizing: border-box;
    height: 100%;
    width: 85%;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rowcontainerpop{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: row nowrap;
    position: relative;
}
.imgpop{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.dishpop{
    height: 250px;
    width: 350px;
    margin: 20px;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
    justify-content: center;
    align-items: center;

}
.dishpop:hover{
    transform: scale(1.1);

}
.textcontainerpop{
    margin-left: 40px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.titleoutpop{
    display: block;

}
.titleinpop{
    font-size: 24px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.03ch;
    color: rgb(148, 148, 148);
    margin: 0px;
    padding: 0px;
    display: block;
    
}
