* {
    font-family: 'Abyssinica SIL', sans-serif;
    box-sizing: border-box;
}
#carouselExampleCaptions{
    width:50%;
    position: relative;
}
.primary-bg {
    background-color: white;
}

.primary-fg {
    color: white;
}

.white-fg {
    color: white;
}

.grey-bg {
    display: inline-block;
    background-color:rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 0 1em;
}

.main-text {
    width: fit-content;
    font-size: large;
    color: gray;
}

.logo {
    width: 18%;
    height: auto;
}

.carousel-item {
    height: 15rem;
    background-color: grey;
    position: relative;
    height: 250px;
}

.carousel-title {
    font-size: 20px;
}

.carousel-desc {
    font-size: 16px;
}

.carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 40rem;
    margin: 0 auto;
  }

.carousel-inner {
    border-radius: 10px;
  }

.carousel-caption > button {
    background-color: #FA2C02;
    color: white;
    border-radius: 5px;
    border-width: 0;
}