* {
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
}
#carouselExampleCaptions{
    width:40%;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 20px;
}
.primary-bg {
    background-color: white;
}

.primary-fg {
    color: white;
}

.white-fg {
    color: white;
}

.grey-bg {
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.307);
    border-radius: 5px;
    padding: 0 1em;
}

.main-text {
    width: fit-content;
    font-size: large;
    color: gray;
}

.logo {
    width: 18%;
    height: auto;
}

.carousel-item {
    background-color: grey;
    position: relative;
    height: 45vh;
}

.carousel-title {
    font-size: 20px;
}

.carousel-desc {
    font-size: 16px;
}

.carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    height: 40rem;
  }

.carousel-inner {
    border-radius: 10px;
  }