* {
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}


div{
  box-sizing: border-box;
}

.topnav {
    color: rgb(200,200,200);
    height: 55px;
    width: 100%;
    background-color: white;
    overflow: hidden;
    top:0;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.15);
    position: sticky;
    
  }

  .topnav a {
    color: gray;
    float: right;
    display: block;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.1s;
    position: relative;
  }
  
  .topnav a:nth-of-type(1){
    float: left;
    text-indent: 1em;
    padding-right: 3em;
  }
  
  .topnav a:nth-of-type(5), .topnav a:nth-of-type(6) {
    float: left;
  }

  .topnav a:hover {
    color: orangered;
    transform: scale(1.1);    
    text-decoration: none;
  }
  
  .topnav .icon {
    display: none;
  }
  .topnav .parts{
    width: 15%;
    position: fixed;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .circle, a.image-link {display: none; padding: 0 0;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
    }
  }