@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: white;
  height: 80px;
  width: 100%;
  position: sticky;
  box-shadow: 1px 1px 10px 1px rgb(182, 182, 182);
  z-index: 999;
  position: fixed;
  top:0;
}

label.logo {
  color: orangered;
  font-family: "Pacifico", cursive;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
}

/* Make the cursor point when hovering over .logo */
label.logo:hover {
  cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  text-decoration: none;
}

nav ul li a {
  color: #999;
  text-decoration: none;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}

nav ul li a:hover {
  background: orangered;
  color: white;
}

nav ul li a:hover i {
  background-color: none;
  color: white;
}

nav ul li a i {
  color: #999;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.checkbtn i {
  color: orangered;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  i {
    display: hidden;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: orangered;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

