.background{
    width: 80%;
    height: 50%;
    background-color: #FEA18F;
    border-radius: 10px;
    padding-top: 80px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.progress-bar{
    width: 50%;
    height: 100%;
    background-color: black;
    border-radius: 50px;
    margin: 0;
}

.bar-container{
    display: block;
    width: 90%;
    height: 15px;
    border-radius: 50px;
    background-color: #FEA18F;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 10px;
}

img{
    width: 100%;
    height: 100%;
}


.image{
    width: 80px;
}

.images{
    display: flex;
    justify-content: space-evenly;
}

h1{
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    margin-bottom: 70px;
}

.h4{
    margin-top: 30px;
}

h4{
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    margin-top: 50px;
}

p{
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5ex; 
    text-align: center;
    color: rgb(26, 26, 26);
}

.shadow{
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    background-color: white;

}