body {
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

.add-btn {
	border: solid rgb(168, 168, 168) 1px;
	border-radius: 7px;
    background-color: rgb(230, 230, 230);
    color: orangered;
	font-weight: bold;
	transition: 0.3s;
	height: auto;
	width: 40px;
}
.chef{
	text-decoration: none;
	color: orangered;
	font-weight: bold;
}
.chef:hover{
	color: rgb(167, 45, 0);
}

.add-btn:hover {
	background-color: white;
	color: orangered;
	border: solid rgb(206, 24, 0) 1px;
}

.container1 {
	background-color: orangered;
	padding: 2em 4em;
}

.container2 {
	padding: 2em 4em;
	width: 80vw;
	height: auto;
	margin: auto;
}

.subcontainer {
	background-color: white;
	border-radius: 20px;
	padding-bottom: 1em;
	border-bottom: 4px solid rgb(210, 56, 0);
	width: 60vw;
	margin: auto;
}

input, textarea {
    border: 1px solid gray;
    border-radius: 7px;
    text-indent: 5px;
}

.title, label {
	color: orangered;
}

.description {
	color: orangered;
}

p > i {
	color: orangered;
}

i {
    color: #FA2C02;
}

.testimonial {
    height: 27.6rem;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: lightgray;
}

.pie-chart {
		position: relative;
		width: 500px;
		min-height: 350px;
		margin: 0;
		outline: 1px solid #ccc;
}
	.pie-chart h2 {
		position: absolute;
		margin: 1rem;
}
.pie-chart figcaption {
		position: absolute;
		bottom: 1em;
		right: 1em;
		font-size: smaller;
		text-align: right;
}
.pie-chart span:after {
		display: inline-block;
		content: "";
		width: 0.8em;
		height: 0.8em;
		margin-left: 0.4em;
		height: 0.8em;
		border-radius: 0.2em;
		background: currentColor;
}