
.add-btn {
    border-radius: 7px;
    border-width: 0;
    background-color: limegreen;
    color: white;
    
}

input, textarea {
    border: 1px solid gray;
    border-radius: 7px;
    text-indent: 5px;
}

h1, i {
    color: #FA2C02;
}

.testimonial {
    height: 27.6rem;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: lightgray;
}

.pie-chart {
		position: relative;
		width: 500px;
		min-height: 350px;
		margin: 0;
		outline: 1px solid #ccc;
	}
	.pie-chart h2 {
		position: absolute;
		margin: 1rem;
	}
	.pie-chart figcaption {
		position: absolute;
		bottom: 1em;
		right: 1em;
		font-size: smaller;
		text-align: right;
	}
	.pie-chart span:after {
		display: inline-block;
		content: "";
		width: 0.8em;
		height: 0.8em;
		margin-left: 0.4em;
		height: 0.8em;
		border-radius: 0.2em;
		background: currentColor;
	}