@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: 'Abyssinica SIL', sans-serif;
}

body {
  overflow-x: hidden; 
}


.image-link {
  width: fit-content;
}

.circle {
  border-radius: 50%;
  height: 5%;
  width: auto;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

input, textarea, select {
    height: 2rem;
    width: 15rem;
    border: 1px solid gray;
    border-radius: 7px;
    text-indent: 5px;
}

textarea {
    height: 5rem;
    width: 25rem;   
}




@media screen and (max-width: 605px) {
  .topnav a:not(:first-child) {display: none;}
  .circle, a.image-link {display: none; padding: 0 0;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 605px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

form {
  display: table;
  border-collapse: separate;
  border-spacing: 0 10px;
}

p {
  display: table-row;
}

p > label, p > input {
  display: table-cell;
  
}

.input-container {
  text-align: left;
}

label {
  font-size: large;
  color: #FA2C02;
}

.rectangle {
  height: 15rem;
  width: 15em;
  background-color: #9c9c9c;
  border-radius: 10px;
}

.clear-btn {
  border: 1px solid #FA2C02;
  border-radius: 10px;
  background-color: white;
  padding: 0.5em;
}

.post-btn {
  background-color: #FA2C02;
  color: white;
  border-width: 0;
  padding: 0.5em;
  border-radius: 7px;
}