@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: 'Abyssinica SIL', sans-serif;
}

.topnav {
  background-color: #FA2C02;
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:first-of-type{
  float: left;
  text-indent: 1em;
}

.topnav a:nth-of-type(5) {
  float: left;
}

.image-link {
  width: fit-content;
}

.circle {
  border-radius: 50%;
  height: 5%;
  width: auto;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .circle, a.image-link {display: none; padding: 0 0;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

form {
  display: table;
}

p {
  display: table-row;
}

p > label, p > input {
  display: table-cell;
}

.input-container {
  text-align: left;
}

label {
  font-size: large;
  color: #FA2C02;
}

.rectangle {
  height: 15rem;
  width: 15em;
  background-color: #9c9c9c;
  border-radius: 10px;
}

.post-btn {
  background-color: #FA2C02;
  color: white;
  border-width: 0;
  padding: 0.5em;
  border-radius: 10px;
}