@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  background-color: orangered;
  /*
  background-image: url(images/mashawi.jpeg);
  background-position: bottom right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.mainfixed {
  width: 100%;
  position: relative;
  margin-left: 5%;
  
}
.maincontainer {
  background: white;
  width: 60vw;
  height: auto;
  box-shadow: 0px 1px 30px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  border-radius: 20px;
  margin-bottom: 10vh;
  border: 3px solid #e12d09;
}

.profile {
  font-size: 50px;
  letter-spacing: -0.02ch;
  color: orangered;
  text-align: center;
  display: block;
  font-family: "Pacifico", cursive;
  line-height: 100px;
}
.username,
.email,
.numberoforders {
  font-family: "Poppins", sans-serif;
  color: rgb(153, 153, 153);
  padding: 15px;
  font-size: 20px;
  width: 100%;
  list-style: none;
}
.fixed {
  float: left;
  margin-right: 2rem;
  padding: 30px;
  margin-right: 3rem;
}
.imgprofile {
  transform: scale(1.7);
  margin-top: 6rem;
  margin-right: 3rem;
}

.fixed2 {
  float: left;
  position: absolute;
  margin-left: 70%;
}
a:link {
  text-decoration: none;
  color: rgb(153, 153, 153);
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.bmydishes {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #f73d18;
  float: left;
  border: 0px;
  height: auto;
  width: 145px;
  height: 55px;
  padding: 13px;
  border-radius: 15px;
  transition-duration: 0.3s;
  margin: 20px;
  font-size: 15px;
}
.bmydishes:hover {
  cursor: pointer;
  background-color: white;
  color: #f73d18;
  box-shadow: 0px 1px 30px 2px rgba(0, 0, 0, 0.15);
}
